<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>SamuelStream</title>
		<link rel="stylesheet" href="/index.css"></link>
  </head>
  <body>
    <h1>SamuelStream</h1>
    {{{body}}}
  </body>
</html>
